# Rails
/log/*
/tmp/*
/vendor/bundle
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/config/master.key

# React / Node
node_modules/
dist/
.env

# Docker
*.pid
*.swp
docker-compose.override.yml

# General
.DS_Store
